http{
    server {
        listen      80;
        server_name example.org www.example.org;

    }

    server {
        listen      80;
        server_name example.net www.example.net;
        ...
    }

    server {
        listen      80;
        server_name example.com www.example.com;
        ...
    }

    server {
        listen      80;
        server_name "";
        return      444;


        location /{
            method GET, POST
            root /var/
            index.html

        }
        location /*.php
        {
            cgi
        }
        location

    }
}